@{
  Layout = "_Layout";
}

@model Doctors_Office.Models.Doctor

<h2>Add a Specialty</h2>

<h4>Add a Specialty to this Doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.Label("Select specialty")
  @Html.DropDownList("SpecialtyId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to List", "Index")</p>